<%= form_for(@marker) do |f| %>
  <% if @marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

      <ul>
      <% @marker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :tour %><br />
    <%= f.text_field :tour %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.number_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lon %><br />
    <%= f.number_field :lon %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :descr %><br />
    <%= f.text_area :descr %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
